{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{- .Content -}}
    </section>
    <section class="flex-ns mt5 flex-wrap justify-around">
      {{ range .Paginator.Pages }}
        <div class="w-100 w-45-l mb4 relative bg-white shadow-5 br3 overflow-hidden">
          <div class="pa4">
            <h2 class="f3 mt0 mb2"><a href="{{ .Permalink }}" class="link dim black">{{ .Title }}</a></h2>
            <p class="mid-gray f6 mb0">{{ .Summary }}</p>
          </div>
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
